.counter {
    display: flex;
    gap: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter button {
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.counter button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.counter input {
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    padding-left: 16px;
    width: 26px;
}

.counter input:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}