:root {
  --primary-color: #076b3e;
  --secondary-color: #008a43;
  --tertiary-color: #87e0a5be;
  --background-color: #e2ffec;
}

html, #root, .homepage {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  margin-top: 110px;
}

header {
  display: flex;
  padding: 16px 30px 16px;
  margin: 0;
  background-color: var(--primary-color);
  color: white;
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 2;
}

header h1 {
  flex: 1;
  font-size: 40px;
  margin: 0;
}

header a {
  text-decoration: none;
  height: 100%;
  padding: 20px;
  font-size: 20px;
  color: white;
  transition: all 0.2s ease;
}

header a:hover {
  transform: translateY(-4px);
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage img {
  margin-top: 50px;
  height: 400px;
}

.homepage a {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: white;
  padding: 20px 40px 20px;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
  margin: 40px;
  display: inline-block;
}

.homepage a:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
  color: white;
}

.homepage h2 {
  font-size: 40px;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
  gap: 30px;
  justify-content: center;
  width: 100%;
  margin: 0 0 60px;
}

.productPage {
  display: flex;
  margin: 130px 80px 80px;
  gap: 80px;
  padding: 40px;
  border-radius: 20px;
  background-color: var(--background-color);
  box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 0.1);
}

.productPage img {
  height: 500px;
}

.productPage h2 {
  font-size: 30px;
  margin: 0;
}

.productPage h3 {
  font-size: 30px;
  margin: 10px 0 30px;
}

.productPage h4 {
  font-size: 20px;
  margin: 4px;
  font-weight: normal;
}

.productPage p {
  font-size: 16px;
  line-height: 160%;
  width: 600px;
  margin-bottom: 50px;
}

.purchase, .checkout {
  color: white;
  background-color: var(--secondary-color);
  padding: 20px 30px 20px;
  border: none;
  text-decoration: none;
  font-size: 20px;
  margin: 20px 10px 0 0;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.purchase:hover, .checkout:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.cartPage {
  display: flex;
  margin: 120px 40px 40px;
  gap: 40px;
}

.cartPage .purchases {
  width: 840px;
}

.cartPage .payment {
  display: flex;
  flex-direction: column;
}

.payment div {
  display: flex;
  width: 200px;
  font-size: 20px;
  margin: 10px 0 10px;
}

.payment div:nth-child(4) {
  font-weight: bold;
  margin: 30px 0 30px;
}

.payment div span:nth-child(1) {
  flex: 1;
}