html, #root, .homepage {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  display: flex;
  padding: 30px;
  margin: 0;
  background-color: rgb(232, 232, 232);
}

header h1 {
  flex: 1;
  font-size: 50px;
  margin: 0;
}

header a {
  text-decoration: none;
  height: 100%;
  padding: 20px;
  font-size: 20px;
  color: black;
  transition: all 0.2s ease;
}

header a:hover {
  transform: translateY(-4px);
}

.homepage a {
  text-decoration: none;
  background-color: rgb(54, 19, 169);
  color: white;
  padding: 20px 40px 20px;
  font-size: 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
  margin: 40px;
}

.homepage a:hover {
  background-color: rgb(138, 9, 185);
  transform: scaleX(1.2);
  color: white;
}

.homepage h2 {
  font-size: 60px;
}

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  width: 100%;
}